
.home-container {
  margin: 10px 10%;
}

body {
  background-color: var(--background-color);
}

.news-items-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}