.home-container {
	margin: 10px 10%;
}

body {
	background-color: var(--background-color);
}

.news-items-container {
  display: grid;
  grid-gap: 10px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  margin-top: 2%;
}
