@import "../../../assets/css-variables.css";

.card-content {
	cursor: pointer;
  border-radius: 5px 5px 0px 0px;
}

.card {
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.11);
	color: var(--font-color);
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

figure {
	margin: 0;
}

.text-overflow {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

h4 {
	margin: 0;
	margin-top: 10px;
	padding: 7px;
	padding-bottom: 0;
	height: 3rem;
	line-height: 1.5em;
	-webkit-line-clamp: 2;
}

.card-header .news-item-image {
	height: 150px;
	max-width: 100%;
	border-radius: 5px 5px 0px 0px;
	background-size: cover;
}

.card-body {
	font-size: .85rem;
	font-weight: 500;
	padding: 7px;
	padding-bottom: 0;
  line-height: 1.3rem;
	height: 20%;
	-webkit-line-clamp: 4;
}

.card-footer {
	padding: 7px;
  padding-bottom: 10px;
	margin-top: 10px;
	font-size: .9rem;
	font-weight: 500;
	border-radius: 0px 0px 5px 5px;
	background: var(--card-footer-color);
}

.card-footer .author {
	color: var(--light-orange);
	-webkit-line-clamp: 1;
}

.additional-details {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
